<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gracias por contactarnos</title>
</head>

<body>

	<table width="100%" cellpadding="0" cellspacing="0" border="0"
		background="https://dl.dropboxusercontent.com/scl/fi/lv3ozjug7c24mupph9qip/fondo.jpg?rlkey=rae3633xm9w9oxmq2dy2yhc7o&st=ut1iishi"
		style="background-repeat: no-repeat; background-size: cover; font-family: Poppins, Arial, sans-serif;">
		<tr>
			<td align="center" style="padding: 10px 10px;"><img
				src="https://dl.dropboxusercontent.com/scl/fi/xsnu3g0zkc98gq3asqsdu/logo.ico?rlkey=8d56da3n9ua6i6b25dc0ry36y&st=897vibxm"
				alt="Logo Pizza Americana" width="100"></td>
		</tr>
		<tr>

			<td align="center" style="padding: 20px;">
				<table class="container" width="600" cellpadding="0" cellspacing="0"
					border="0"
					style="background-color: #ffffff; border-radius: 10px; overflow: hidden; margin-bottom: 20px;">
					<tr>
						<td align="center" style="padding-top: 10px;">
							<h2
								style="margin: 20px 0 0; font-size: 20px; font-weight: 700; color: #253469;">
								¡Gracias por contactarnos!</h2>
							<hr
								style="margin-top: 20px; border: none; border-top: 1px solid #ccc; width: 85%;" />
						</td>
					</tr>
					<tr>
						<td align="center" style="padding: 10px 40px;">
							<table width="100%">
								<tr>
									<td align="center" style="padding: 20px 30px;"><img
										src="https://dl.dropboxusercontent.com/scl/fi/gmqc7tyyccbuwuswbj8ev/carta.png?rlkey=9sjp3368s9ts49e6rn0itpmxg&st=57y2spwx"
										width="50" height="50" alt="Carta" style="border-radius: 8px;">
									</td>
									<td
										style="padding-top: 20px; font-size: 15px; color: #585858; text-align: left;">
										<strong style="color: #1a110c;">{{NOMBRE_CLIENTE}}</strong><br>
										Tu solicitud con el número <strong style="color: #1a110c;">#{{ID_PQRS}}</strong>
										fue registrada con éxito en nuestro sistema. <br> Te
										estaremos contactando pronto para darle seguimiento.
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td align="center" style="padding: 10px 40px;">
							<table width="100%">
								<tr>
									<td
										style="padding-top: 20px; font-size: 15px; color: #585858; text-align: left;">
										Si necesitas más información, no dudes en contactarnos a
										través de los canales mencionados a continuación.</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="padding: 30px 40px;">
							<table width="100%">
								<tr>
									<td class="column" width="50%" valign="top"
										style="padding-right: 10px;">
										<table width="100%"
											style="background-color: #e3eefb; border-radius: 12px; padding: 12px;">
											<tr>

												<td width="40"><img
													src="https://dl.dropboxusercontent.com/scl/fi/pqmt2w56ug1zl4av0ony6/email.png?rlkey=rvg4rjhrdp93epn37xx4qe6rx&st=zupj7e1h"
													width="38" height="38" alt="Email"></td>
												<td style="padding-left: 10px; height: 70px;"><strong
													style="font-size: 18px; color: #1b1b1b;">Email</strong><br>
													<span style="font-size: 14px; color: #2a1e19;">pqrs@pizzaamericana
												</span></td>
											</tr>
										</table>
									</td>
									<td class="column" width="50%" valign="top"
										style="padding-left: 10px;">
										<table width="100%"
											style="background-color: #e3eefb; border-radius: 12px; padding: 12px;">
											<tr>
												<td width="40"><img
													src="https://dl.dropboxusercontent.com/scl/fi/f3ofzqcxfu0f8c3q0mfis/phone.png?rlkey=0up1fj11chz2o7fz68dzr0cu1&st=xaz60cys"
													width="38" height="38" alt="Phone"></td>
												<td style="padding-left: 10px; height: 70px;"><strong
													style="font-size: 18px; color: #1b1b1b;">Contacto</strong><br>
													<span style="font-size: 14px; color: #2a1e19;">(604)
														444-45-53</span></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td align="center">
							<table class="container" width="600" cellpadding="0"
								cellspacing="0" border="0"
								style="background-color: #ffffff; border-radius: 10px; overflow: hidden;">
								<tr>
									<td style="padding: 0 0 20px 0;">
										<div
											style="background: repeating-linear-gradient(-45deg, #1c120c, #1c120c 10px, transparent 10px, transparent 20px); height: 15px;">
										</div>

										<div
											style="background-color: #1c120c; color: white; text-align: center; padding: 15px;">
											<p style="margin: 10px 0;">
												<a href="https://www.pizzaamericana.co"><img
													src="https://dl.dropboxusercontent.com/scl/fi/2a7emrw7lpv6rgyaeqmvr/sitio.png?rlkey=f3fhtsp7cvfykqca0skjwqtm2&st=gsefv4m5"
													alt="Sitio" width="25" style="margin: 0 8px;"></a> <a
													href="https://www.facebook.com/share/177vC8nv8t/?mibextid=wwXIfr"><img
													src="https://dl.dropboxusercontent.com/scl/fi/cpdlbuzm7ajcfk53e4m0v/facebook.png?rlkey=z5tzfe8n22ni46ztehp7a3rg4&st=rmelyiu6"
													alt="Facebook" width="25" style="margin: 0 8px;"></a> <a
													href="https://www.instagram.com/pizzaamericana.co?igsh=emNucmNhZ2NkMHF0"><img
													src="https://dl.dropboxusercontent.com/scl/fi/9q5yp21ttwll3xjzhqw42/instagram.png?rlkey=80rcrpf5ib8mcqscj2ais189n&st=ufgdjv00"
													alt="Instagram" width="23" style="margin: 0 8px;"></a>
											</p>
											<p style="font-size: 13px; margin: 5px;">Infórmate sobre
												nuestro Club Pizza Americana donde tendrás la oportunidad de
												ganar diferentes premios.</p>
											<p style="margin-top: 10px;">
												<a href="https://pizzaamericana.co/club"
													style="color: #f1c309cb; text-decoration: underline; font-size: 14px;">Inscríbete</a>
											</p>
										</div>
										<div
											style="font-size: 13px; color: #666; text-align: center; padding-top: 1rem; border-top: 1px solid #ccc;">
											© 2025 Pizza Americana · Este es un mensaje automático, por
											favor no respondas.</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>

		</tr>

	</table>
</body>

</html>